.FooterContainer{
    
    width: 100%;
    max-width: 1100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 1.5em;
    background:  rgb(223, 255, 248);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: solid 1px ;
    border-color: rgb(158, 250, 222);

    //background-color: rgb(194, 109, 135);

    ul{
        display: inline-block;
        line-height: 76px; //수직정렬 (부모높이만큼)
        li{
            float: left;
            //outline: 2px dotted red;
            padding-left: 10px;
        }
    }
}
