.FooterContainer{
    
    width: 100%;
    
    height: 100px;
    margin: 0 auto;
    margin-top: 1.5em;
    background:  rgb(255, 255, 255);
    //border-top: 1px solid rgb(180, 180, 180);
    box-shadow: 0 -2px 3px rgba(141, 141, 141, 0.219);
    
    
    position: relative;
    
    

    //background-color: rgb(194, 109, 135);

    ul{
        display: inline-block;
        line-height: 76px; //수직정렬 (부모높이만큼)
        li{
            float: left;
            //outline: 2px dotted red;
            padding-left: 10px;
        }
    }
}
