/**
 * @author Shun
 * @email vytngms@gmail.com
 * @create date 2022-09-02 10:38:22
 * @modify date 2022-09-02 10:38:22
 * @desc [마이어리 로그인 모달안의 내용 컴포넌트 css]
 */

.LoginContentBackgroundWrap{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(158, 250, 222);
    width: 300px;
    height: auto;
    border-radius: 7px;
    position: relative;

    .LoginFoldedRibbon {
        --f: 10px; /* control the folded part*/
        --r: 20px; /* control the ribbon shape */
        --t: 33px; /* the top offset */
        color: beige;
        position: absolute;
        inset: var(--t) calc(-1*var(--f)) auto auto;
        padding: 0 10px var(--f) calc(7px + var(--r));
        clip-path: 
          polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
        background: rgb(207, 180, 69);
        box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
        line-height: 50px; // 리본 높이(길이)
    }

    .LoginContentMiaryLogo{
        
        width: 150px;
        height: 90px;
        margin: 0 auto;
        margin-top: 15px;
        overflow: hidden;
        img{
            width: 100%;
            height: 90px;
            object-fit: contain;
        }
        
        
    }
    .LoginContentContainer{
        
        .Logininput-contain{
            position: relative;
            height: 60px;

           input{
               height: 30px;
               width: 220px;
               border: 2px solid rgb(141, 141, 141);
               border-radius: 6px;
               
               
           }
           .placeholder-LoginText{
                position: absolute;
                top: 10;
                bottom: 0;
                left: 15px;
                right: 0;
                border: 3px solid transparent;
                background-color: transparent;
                display: flex;
                align-items: flex-start;
                pointer-events: none;
                
           }
           .LoginLabelText{
                max-height: 10px;
                width: auto;
                padding: 5px 5px;
                
                margin-bottom: 0.9em;
                line-height: 15px;
                
                background-color: transparent;
                color: rgba(0, 0, 0, 0.329);
                
                
                transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
           }
            input, .placeholder-LoginText{
                font-size: 0.9em;
                padding: 0 1.2rem;
                
            }
            
            input:focus{
                outline: none;
                border-color: green;
            }
            
            input:focus + .placeholder-LoginText .LoginLabelText, :not(input[value=""]) + .placeholder-LoginText .LoginLabelText{
                background-color: rgb(255, 255, 255);
                font-size: 13px;
                color: black;
                transform: translate(0, -90%);
                border-color: blueviolet;
                color: rgb(53, 140, 161);
                
       
            }


        }
        .RegisterInputSubmit{
            border: none;
            background-color: rgb(207, 180, 69);
            color: beige;
            width: 87%;
            height: 2.8em;
            margin: 0;
            padding: 0;
            font-weight: 900;

            transition: all 0.2s;
            &:hover{
                transition: all 0.2s;
                background-color: rgb(160, 139, 55);
            }
        }
    }
}