/* 공통 */
.Fullaccount {
    text-align: left;
    width: 100%;
    min-width: 60%;
    max-width: 100%;
}

h1 {
    font-size: 1.3em;
    width: 100%;
}

.Explanation {
    padding: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border-left: 5px solid #ffc405;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.Buttonoption {
    width: 100%;
    display: flex;
    justify-items: space-between;
}

.Update {
    background-color: #333;
    border: 1px solid #333;
    color: white;
    font-size: 1.0rem;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 100%;
    max-width: 100px;
    margin: 10px;
}

/* 가입일 */
.Since {
    background-color: #f5f5f8; 
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px;
}
.Since1 {
    margin-bottom: -13px;
}
.Date1 {
    font-size: 1.0em;
}

/* 사용자 필명 */
.Pname {
    background-color: #f5f5f8;
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px; 
}

.Penname1 {
    margin-top: 5px;
}
.Change {
    background-color: #333;
    border: 1px solid #333;
    color: white;
    font-size: 1.0rem;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 100%;
    max-width: 55px;
    margin: 10px;
}
/* email */
.email {
    background-color: #f5f5f8; 
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px;
}
/* 사용자 실명 */
.Rname {
    background-color: #f5f5f8; 
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px;
}
.Rname1 {
    width: 97%;
    height: 30px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1.0rem;
}
/* 비밀번호 변경 */
.Password {
    background-color: #f5f5f8; 
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px;
}
.Password1 {
    width: 96%;
    height: 30px;
    font-weight: bold;
    font-size: 1.0rem;
    padding-left: 15px;
}
.Passwordcheck {
    margin-top: 10px;
    width: 96%;
    height: 30px;
    font-weight: bold;
    font-size: 1.0rem;
    padding-left: 15px;
}

/* 개인정보 보호 */
.Privacy {
    background-color: #f5f5f8; 
    padding: 10px;
    border-radius: 0.75rem;
    margin: 20px;
    width: auto;
}

.PIP {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.PIP input {
    width: 13px;
    height: 13px;
    display: inline-block;
}


.PIP label {
    font-size: 1.0rem;
    font-weight: normal;
    width: auto;
    margin-bottom: 13px;
    display: inline;
    margin-left: 5px;
}


input[id="Protection1"] + label {
	cursor: pointer;
}

input[id="Protection2"] + label {
	cursor: pointer;
}

input[id="Protection3"] + label {
	cursor: pointer;
}

/* 2차인증 및 탈퇴 */
.Lastbutton {
    margin-left: 20px;
}

.Certified {
    background-color: #333;
    border: 1px solid #333;
    color: white;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.0em;
}

.Out {
    background-color: #333;
    border: 1px solid #333;
    color: white;
    padding: 5px 10px;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1.0em;
    margin-left: 10px;
}

