/**
 * @author Shun
 * @email vytngms@gmail.com
 * @create date 2022-06-03 15:19:57
 * @modify date 2022-06-03 15:19:57
 * @desc [ContentBlock.js style Sheet]   3 x 8 = 24개 컨텐츠 
 */
 .ContentBlockContainer{
    float: left;
    width: 320px;
    height: 450px;
    background-color: rgb(208, 211, 211);
    //outline: 2px dotted red;
    border-radius: 15px;

    margin: 20px;
    

    display:flex;
    flex-direction: column;
    .ContentBlockImage{
        flex: 1;
        height: 50%;
        background-color: rgb(101, 199, 166);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        img{
            object-fit:contain;
            width: 100%;
            height: 100%;
            
        }
    }
    .ContentArticlContainer{
        height: 50%;
        //background-color: blanchedalmond;
        flex:1;
        display: flex;
        flex-direction: column;
        text-align: left;
        .ContentBlockArticleTitle{
            //background-color: cadetblue;
            flex: 1;
            margin: 10px 20px;
            padding-top: 10px;
        }
        .ContentBlockArticleContent{
            //background-color: cornflowerblue;
            flex: 3;
            margin: 0 20px;
        }
        .ContentBlockArticleAuthor{
            //background-color: darkgoldenrod;
            flex: 1;
            margin: 10px 20px;
        }
    }
    
 
 }
 
