/**
 * @author Shun
 * @email vytngms@gmail.com
 * @create date 2022-06-03 15:24:35
 * @modify date 2022-06-03 15:24:35
 * @desc [ContentView.scssì˜ stylesheet]
 */

 .ContentViewContainer{
    width: auto;
    height: auto;
    margin: 0 auto;
    background-color: rgb(156, 36, 255);
    


 }
