
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .HeaderContainer{
        //background-color: rgb(202, 196, 192);
        //color: aqua;
        width: 100%;
        height: 76px;
        margin: 0 auto;
        max-width: 1110px;
    
        //항목 양끝 정렬
        display: flex;
    
            .HeaderLogo{
                min-width: 80px;
                width: 80px;
                //background-color: rgb(120, 103, 214);
                img{
                    width: 76px;
                    height: 100%;
                    float: left;
                }
            }
            .HeaderBlank{
                background-color: rgb(177, 158, 158);
                flex:1;
                min-width: 0px;
            }
            .HeaderToolsContainer{
                width: 300px;
                min-width: 300px;
                //background-color: rgb(194, 109, 135);
    
                ul{
                    li{
                        list-style-type: none;
                        float: left;
                        outline: 2px dotted red;
                    }
                }

            }
    }
}

