.Postfull {
    float: left;
}

.Post2 {
    min-width: 450px;
    max-width: 700px;
    margin-top: 20px;
    margin-left: 15px;
}

.Title {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Title2 {
    font-weight: normal;
    color: #777777;
}

.Title2:hover {
    font-weight: bold;
    color: black;
}

.Quantity {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Quantity2 {
    font-weight: normal;
    color: #777777;
}

.Quantity2:hover {
    font-weight: bold;
    color: black;
}

.Produce {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Produce2 {
    font-weight: normal;
    color: #777777;
}

.Produce2:hover {
    font-weight: bold;
    color: black;
}

.Revise {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Revise2 {
    font-weight: normal;
    color: #777777;
}

.Revise2:hover {
    font-weight: bold;
    color: black;
}

.Recommend {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Recommend2 {
    font-weight: normal;
    color: #777777;
}

.Recommend2:hover {
    font-weight: bold;
    color: black;
}

.Comment {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Comment2 {
    font-weight: normal;
    color: #777777;
}

.Comment2:hover {
    font-weight: bold;
    color: black;
}

.Hiding {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Hiding2 {
    font-weight: normal;
    color: #777777;
}

.Hiding2:hover {
    font-weight: bold;
    color: black;
}

.Tviews {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Tviews2 {
    font-weight: normal;
    color: #777777;
}

.Tviews2:hover {
    font-weight: bold;
    color: black;
}

.Yviews {
    float: left;
    background-color: #f8f9fa;
    margin-left: 10px;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 15px;
    color: purple;
    font-weight: bold;
    margin-top: 10px;
}

.Yviews2 {
    font-weight: normal;
    color: #777777;
}

.Yviews2:hover {
    font-weight: bold;
    color: black;
}

/* 이전,다음 페이지 */

.Pagenumber {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.Nextpage {
    float: left;
}

.Nextpage1 {
    float: left;
}

.Nextpagebtn {
    width: 25px;
    height: 25px;
    float: left;
    border: 2px solid purple;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
}

.Nextpage3 {
    float: left;
}

.Nextpage4 {
    float: left;
}

.Page {
    width: 45%;
    max-width: 45%;
    text-align: left;
    float: left;
    margin-top: 20px;
}

.Faleft {
    color: #cfcfcf;
    margin-left: 15px;
}

.Faanglesleft {
    color: #cfcfcf;
    margin-left: 15px;
}

.Faright {
    color: #cfcfcf;
    margin-left: 15px;
}

.Faanglesright {
    color: #cfcfcf;
    margin-left: 15px;
}

.Gopage {
    text-align: right;
    width: 45%;
    max-width: 45%;
    display: inline-block;
    margin-top: 20px;
}

.Gopage1 {
    color: rgba(0,0,0,.541);
    font-size: 10px;
    margin-right: 10px;
}

.Page2 {
    border: 2px solid #8e44ad;
    border-radius: 5px;
    width: 50px;
    height: 26px;
}

.Gobutton {
    background-color: white;
    border: none;
    font-size: 16px;
}

.Faangleright {
    margin-left: 5px;
    
}