/* 공통 */
h1 {
    font-size: 1.3em;
}

.Update {
    background-color: black;
    color: white;
    font-size: 1.0rem;
    border-radius: 0.25rem;
    padding: 5px 10px;
    font-weight: bold;
}

/* 사용자 이미지 */
.Userimage {
    border: 1px solid #eeeeee;
    margin: 20px;
    padding-left: 15px;
    background-color: #f5f5f8;
    border-radius: 0.75rem;
    height: 220px;
    padding-bottom: 10px;
}

.Userimage2 {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: white;
}

/* 사용자 소개 */
.Userintro {
    border: 1px solid #eeeeee;
    margin: 20px;
    background-color: #f5f5f8;
    border-radius: 0.75rem;
    height: 290px;
    padding: 0 15px 10px 15px;
}

.Userintro2 {
    padding: 1rem;
    color: #856404;
    background-color: #fff3cd;
    border-left: 5px solid #ffc405;
    font-weight: bold;
    box-sizing: border-box;
    display: block;
}

textarea {
    width: 550px;
    height: 70px;
    padding: 10px 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

.socialinfor {
    border: 1px solid #eeeeee;
    margin: 20px;
    background-color: #f5f5f8;
    border-radius: 0.75rem;
    height: 594px;
    padding: 0 15px 10px 15px;
}

label {
    border: 2px solid black;
    font-size: 1.0rem;
    margin-bottom: 10px;
}

span {
    border: 1px solid #ced4da;
    background-color: #e9ecef;
    padding: 5px;
    display: inline-block;
}

input {
    border: 1px solid #ced4da;
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 20px;
    display: inline-block;
}

.Http {
    float: left;
}
