
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    &.hide {
        transform: translateY(-100px);
        transition: all .5s;
        
    }
    transition: all .5s;
    .HeaderContainer{

        //background-color: #664147;
        background:  #ffffff;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        //color: aqua;
        width: 100%;
        height: 76px;
        margin: 0 auto;
        padding-top: 20px;
        max-width: 1110px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.219);

        //항목 양끝 정렬
        display: flex;
    
            .HeaderLogo{
                min-width: 80px;
                width: 80px;
                //background-color: rgb(120, 103, 214);
                overflow: hidden;
                a{
                    img{
                        width: 76px;
                        height: 76px;
                        float: left;
                    }
                }
                
            }
            .HeaderBlank{
                //background-color: rgb(177, 158, 158);
                flex:1;
                min-width: 0px;
            }
            .HeaderToolsContainer{
                width: 250px;
                min-width: 250px;
                //background-color: rgb(194, 109, 135);
    
                ul{
                    display: inline-block;
                    line-height: 76px; //수직정렬 (부모높이만큼)
                    li{
                        float: left;
                        //outline: 2px dotted red;
                        padding-left: 10px;
                    }
                }

            }
    }
}