/**
 * @author Shun
 * @email vytngms@gmail.com
 * @create date 2022-06-03 15:19:57
 * @modify date 2022-06-03 15:19:57
 * @desc [ContentBlock.js style Sheet]   3 x 8 = 24개 컨텐츠 
 */
 @import '../Common_Scss/mixin';
 @import '../Common_Scss/variables';


 //Only use ContentBlock.css : define contents sort with count of width size
 $contentCount-mobile : 1;
 $contentCount-tablet : 2;
 $contentCount-desktop: 3;


 //baseSize: desktop, tablet, mobile , default : $bp-desktop
 //widthCount: 컨텐츠 가로 정렬 개수 , default : $contentCount-desktop
 @mixin mixinContentBlockContainer($baseSize: $bp-desktop, $widthCount: $contentCount-desktop){
    $marginValue: 20px;
    $withMinusMargin: ($marginValue*($widthCount+1));
    
    display: inline-block;
    width: ($baseSize / $widthCount) -($withMinusMargin);


    height: 450px;
    background-color: inherit;
    //border-radius: 15px;
    margin: $marginValue;
    cursor: pointer;
    flex-direction: column;
    border-radius: 30px;
    transition: .5s;

    
}
@include desktop{
    .ContentBlockContainer{
        @include mixinContentBlockContainer($bp-desktop,$contentCount-desktop )
    }
 }
 @include tablet{
    .ContentBlockContainer{
        @include mixinContentBlockContainer($bp-tablet,$contentCount-tablet )
    }
 }
 @include mobile{
    .ContentBlockContainer{
        @include mixinContentBlockContainer($bp-mobile,$contentCount-mobile )
    }
 }
 .ContentBlockContainer{
    //border-top-left-radius: 30px;
    //border-top-right-radius: 30px;
    overflow: hidden;
    &:hover {
        overflow: hidden;
        box-shadow: 0 0 20px #696969;
        transition: .5s;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-radius: 30px;
        .ContentBlockImage{
            overflow: hidden;
            img{
                transform: scale(1.5);
                transition: .5s;
                width: 100%;
                height: 100%;
            }
        }
    }
    .ContentBlockImage{
        
        height: 50%;
        max-height: 50%;
        background-color: rgb(138, 138, 138);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        overflow: hidden;
        
        img{
            object-fit:cover;
            transition: .5s;
            width: 100%;
            height: 100%;
            overflow: hidden;
            
        }
    }
    .ContentArticlContainer{
        //background-color: blanchedalmond;
        height: 50%;
        background-color: rgb(251, 255, 255);
        
        flex-direction: column;
        text-align: left;

        .ContentBlockArticleTitle{
            //background-color: cadetblue;
            height: 10%;
            margin: -5px 20px;
            padding-top: 10px;
            
            text-overflow: ellipsis; 
            font-size: large;
            font-weight: bold;
        }
        .ContentBlockArticleContent{
            //background-color: cornflowerblue;
            color: rgb(129, 129, 129);
            height: 65%;
            font-size: 13px;
            //font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0 20px;
            padding: 10px 10px 0 0;
        }
        .ContentBlockArticleAuthorContainer{ //writer box.. 
            //background-color: darkgoldenrod;
            height: 25%;
            margin: 0 20px;
            display: flex;
            font-size: 13px;
            .ContentBlockArticleAuthorPic{ // writer pic
                flex: 1;
            }
            .ContentBlockArticleAuthorInfo{ // writer Name, writer's register Date, HitCount(up to every Read times)
                flex: 9;
                .ContentBlockArticleAuthorName{
                    
                }
                .ContentBlockArticleAuthorDateHit{
                    display: flex;
                    .ContentBlockArticleAuthorDate{
                        
                    }
                    .ContentBlockArticleAuthorBlank{

                    }
                    .ContentBlockArticleAuthorHit{

                    }
                }
            }
        }
    }
    
 
 }
 
